/* Q is the prefix of colors */

.Pink,.pink,.QFFC0CB,.Qffc0cb{color: Pink ;}
.LightPink {color: LightPink ;}
.HotPink {color: HotPink ;}
.DeepPink {color: DeepPink ;}
.PaleVioletRed  {color: PaleVioletRed  ;}
.MediumVioletRed  {color: MediumVioletRed  ;}

.lavender   {color: Lavender   ;}
.Thistle  {color: Thistle   ;}
.Plum   {color: Plum   ;}
.Orchid   {color: Orchid   ;}
.Violet   {color: Violet   ;}
.Fuchsia   {color: Fuchsia   ;}
.Magenta   {color: Magenta   ;}
.MediumOrchid   {color: MediumOrchid   ;}
.DarkOrchid   {color: DarkOrchid   ;}
.DarkViolet   {color: DarkViolet   ;}
.BlueViolet   {color: BlueViolet   ;}
.DarkMagenta   {color: DarkMagenta   ;}
.Purple   {color: Purple   ;}
.MediumPurple   {color: MediumPurple   ;}
.MediumSlateBlue   {color: MediumSlateBlue   ;}
.SlateBlue   {color: SlateBlue  ;}
.DarkSlateBlue   {color: DarkSlateBlue   ;}
.RebeccaPurple   {color: RebeccaPurple   ;}
.Indigo    {color: Indigo  ;}

.LightSalmon   {color: LightSalmon   ;}
.Salmon   {color: Salmon   ;}
.DarkSalmon   {color: DarkSalmon   ;}
.LightCoral   {color: LightCoral   ;}
.IndianRed    {color: IndianRed    ;}
.Crimson   {color: Crimson   ;}
.Red   {color: Red   ;}
.FireBrick   {color: FireBrick   ;}
.DarkRed   {color: DarkRed   ;}

.Orange   {color: Orange   ;}
.DarkOrange   {color: DarkOrange   ;}
.Coral{color: Coral ;}
.Tomato {color: Tomato  ;}
.OrangeRed {color: OrangeRed ;}